[Unit]
Description=RDMA Node Description Daemon
After=rdma.service

[Service]
Type=forking
EnvironmentFile=/usr/local/etc/infiniband-diags/ibdiag.conf
ExecStart=${prefix}/sbin/rdma-ndd

[Install]
WantedBy=multi-user.target

