[Unit]
Description=RDMA Node Description Daemon
After=rdma.service

[Service]
Type=forking
EnvironmentFile=/nfs/site/home/iweiny/rdma-core/build/etc/infiniband-diags/ibdiag.conf
ExecStart=/nfs/site/home/iweiny/rdma-core/build/sbin/rdma-ndd

[Install]
WantedBy=multi-user.target

