[Unit]
Description=Manage RDMA Node Description Daemon
Documentation=man:rdma-ndd(8)

[Service]
ExecStart=/usr/sbin/rdma-ndd --foreground
# It uses openlog() with LOG_PERROR, so avoid duplication:
StandardError=null

[Install]
WantedBy=multi-user.target
